body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #0a0a0a;
}

.grid {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 2px;
    width: 50vw;
    height: 50vw;
}
.cell {
    background-color: #8c8c8c;
    width: 100%;
    height: 100%;
}
.cell.hovered {
    background-color: red;
}